/*font links*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*common css start*/
body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common css end*/

/*header start*/
header{
	padding: 30px 0;	
}
.container{
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
}
.logo{
	margin-top: 10px;
	float: left;
	width: 12%;
	/* border: 1px solid; */
}
.w100{
	width: 100%;
}
.menu{
	float: right;
	width: 65%,
	/* border: 1px solid; */
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	display: inline-block;
	margin: 0px 50px;
	color: #626262; 
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: .33s linear;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header end*/

/*banner start*/
.banner{}
.b_img{}
.b_img img{}
/*banner end*/

/*getaway start*/
.getaway{
	padding: 100px 0 30px;
}
.container2{
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid;*/
}
.g_content{}
.light{
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.title{
	margin: 15px 0 25px;
	font-size: 30px;
	font-weight: 400;
}
.text{
	margin: 0;
	line-height: 24px;
}
.g_link{
	margin-top: 50px;
	display: block;
	color: #626262;
	text-decoration: none;
}
/*getaway end*/

/*blog start*/
.blog{
	padding: 0 0 100px;
}
.blog_c{
	overflow: hidden;
}
.blog_single{
	margin-top: 70px;
	float: left;
	width: 47%;
	box-sizing: border-box;
	}
.blog_single:nth-child(even) {
	margin-left: 6%; 
}
.blog_img{
	margin-bottom: 20px;
}
.blog_img img{}
/*blog end*/

/*newsletter start*/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px; 
}
.s_form{
	position: relative;
	width: 400px;
	/*border: 5px solid red;*/
	margin: 0 auto;
}
.s_form input{
	font-family: "Playfair Display", serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background: transparent;
	border: none; 
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/*newsletter end*/

/*blog2 start*/
.blog2{}
.load{
	margin: 150px 0 50px;
	text-align: center;
}
.load button{
	width: 165px;
	height: 60px;
	background-color:transparent;
	border: 1px solid #626262;
	font-family: "Playfair Display", serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	transition: .33s linear;
}
.load button:hover{
background-color: #626262;
color: #fff;	
}
/*blog2 end*/

/*footer start*/
footer{
	background-color: #f0f0f0;
	padding: 24px 0;
}
.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.pages{
	float: left;
	font-size: 14px;
}
.pages ul{
	padding-left: 0;
	overflow: hidden;
}
.pages ul li{
	margin-right: 15px;
	list-style: none;
	float: left;
}
.pages ul li a{
	/*font size: 14px;*/
	color: #000000;
	text-decoration: none;
}
.social{
	float: right;
}
.social ul{
	overflow: hidden;
}
.social ul li{
	font-size: 14px;
	margin-right: 15px;
	list-style: none;
	float: left;
}
.social ul li a{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
.social ul li:last-child{
	margin-right: 0;
}
/*footer end*/